/*------------------------------------
                colors
-------------------------------------*/
$bk-blue:                             #034ea2;
$navy-blue:                           #2A2F4E;
$light-blue-1:                        #1F65B3;
$light-blue-2:                        #4F83BE;
$light-blue-5:                        #F5F8FB;
$dark-grey-1:                         #2F445D;
$dark-grey-2:                         #838AA2;
$dark-grey-3:                         #CACCD4;
$light-grey-1:                        #E6E8EF;
$light-grey-2:                        #F4F5F8;
$light-grey-3:                        #CED8E9;
$white:                               #FFFFFF;
$background-1:                        #F0F3F7;
$background-2:                        #E8EDF2; 
$bk-gold:                             #E39614;
$dark-gold:                           #D78700;
$light-gold:                          #FBF1E0;
$red:                                 #E2868C;
$dark-red:                            #D04750;
$light-red:                           #F9E7E7;
$green:                               #8FCB85;
$dark-green:                          #5B8A53;
$light-green:                         #E9F5E7;
$ash-gray:                            #828286;
$dark-blue:                           #0D47A1;
$yellow:                              #ffc20e;
$blue-sky:                            #196ECC;
$dark-gray:                           #595959;
$light-gray:                          #B4B4B4;
$grey-40:                             #727c94;
$gold-40:                             #e39614;
$gold-40:                             #e39614;
$gold-50:                             #D78700;
$light-gray:                          #B5B5C3;
$green-success:                       #5B8A53;
$light-gold:                          #DFA765;
$clear-blue:                          #E6EEF6;
$clear-grey:                          #A0AEBD;

$box-shadow-subtle: 0px 2.12771px 2.12771px -1.41847px rgba(157, 157, 157, 0.25);
$bk-blue-gradient:  inear-gradient(180deg, #085CBB 0%, #034EA2 100%);






/*------------------------------------
                sizes
-------------------------------------*/
$border-width:                          1px;
$border-radius:                         5px;
$side-nav-width:                        290px;
$side-nav-header-height:                245px;
$nav-bar-height:                        60px;
$tab-bar-height:                        60px;
$max-side-drawer-width:                 300px;
$min-side-drawer-width:                 270px;
$max-main-window-width:                 1200px;