@import './styles/layouts/_fonts.scss';

*{
  font-family: $sofia-regular;
}

.login-container{
    background-image:linear-gradient(to top, rgba(245, 246, 252, 0.52), rgba(0,50,100)), url(../assets/images/bnr-bg-1.jpeg);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
}
.forgot-password-link{
    color: #000;
    text-align: center;
    margin-top: 32px;
}

.modal-header-container{
    background-color: #0061CC;
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-container{
    box-sizing: border-box;
    background: #FFFFFF;
    border: 2px solid #E4E4E4;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    input{
        border: none;
        width: 90%;
        outline: none;
    }
    span{
        color: #0061CC;
        text-decoration: underline;
        cursor: pointer;
    }
}
.search-icon{
    cursor: pointer;
}

.module-title-container{
    padding: 0px 0px 20px 0px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    span{
        font-size: 2rem;
        color: #2A2F4E;
    }
    .status-container{
        display: flex;
        align-items: center;
    }
    .icon{
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: #5B8A53;
        margin-right: 5px;
        margin-top: 5px;

    }
}

.submit-button-container{
   width: 100%;
}

.add-form-row{
    display: flex;
    width: 100%;
}

.ml-2{
  margin-left: 10px;
}

.form-field{
    border-radius: 10px;
}

.data-table-view-btn{
    outline: none;
    border: 1px solid #2A2F4E;
    background-color: white;
    color: #2A2F4E;
    padding: 4px 30px;
}

.Active 
.Yes{
 color: #5B8A53;
}

.Inactive, .No{
color: #D04750;
}

.articles-container{
    span{
        font-size: 2rem;
        color: #2A2F4E;
    }
}

.add-articles-container{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-top: 40px;
}



.accordion-more-link{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    a{
        color: #0061CC;
        text-decoration: underline;
    }
}

.view-item-row{
    padding: 20px;
    background-color: #F5F8FB;
    .item-column{
        display: flex;
        flex-direction: column;

        .title{
            font-size: 18px;
            color: #2A2F4E;
            font-weight: bold;
        }
        .value{
            font-size: 16px;
            color: #838AA2;
        }
    }
}

.edit-link-container{
    display: flex;
    justify-content: flex-end;
    span{
        cursor: pointer;
        font-size: 16px;
        color: #0061CC;
        margin-right: 3px;
    }
}


.add-article-asign-user-container{
    position: relative;
    .searched-users-container{
        padding: 20px;
        background: #E4E4E4;
        border-radius: 8px;

        .user-ctn{
            border: 1px solid #2A2F4E;
            border-radius: 10px;
            padding: 5px;
            display: inline-block;
            margin: 5px;
            align-items: center;
            img{
                height: 20px;
                width: 20px;
                margin-left: 20px;
                cursor: pointer;
            }
        }
    }
    .search-container{
        position: absolute;
        background-color: white;
        padding: 20px;
        box-shadow: 0 0 10px #ccc;
        background-color: #f5f5f5;
        border-radius: 4px;
        z-index: 1;
        margin-top: -30px !important;
        display: flex;
        flex-direction: column;
        .item{
            border-bottom: 1px solid #E4E4E4;
            padding: 20px;
            width: 100%;
        }
    }
}

.card {
    border-color: #F0F3F7 !important;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.05);
    z-index: 1;
}

.table-headers-text{
  color: #034EA2 !important;
  font-family: $sofia-regular;
  letter-spacing: 0.6px;
  font-weight: 400;
  font-size: 18px;
}

.table-body-text{
  color: #2A2F4E !important;
  font-family: $sofia-regular;
  font-size: 16px;
  font-weight: 400px;
  line-height: 16px;
}

.table-row-item{
    border-bottom: 1px solid #e9ecef;
}

.pagination-text{
  color: #2A2F4E !important;
  font-family: $sofia-regular;
  font-size: 14px;
  font-weight: 400px;
  line-height: 16px;
}

.add-button-container{
    outline: none;
    border: none;
    background-color: #034EA2 !important;
    font-family: $sofia-regular !important;
}


.filters-page-container{
    gap: 30px;
}

.search-filters-page-container{
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
}